<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bike_list.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bike_list.type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bike_list.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @bike_list.image_url %>
</p>

<%= link_to 'Edit', edit_bike_list_path(@bike_list) %> |
<%= link_to 'Back', bike_lists_path %>
